<%- include('partials/header') -%>

<div class="container mt-5 mb-5 p-3">
    <h1 class="display-3">About Me</h1>

    <p class="lead">
        I am a coding instructor, web developer, and sell front-end templates to save engineers time on design.
        They are able to work with all frameworks out in demand, just reconfigure for the layout used. Imagine
        that your team is oppressed on time and you need a layout ASAP. You want a layout with dependencies from
        new or unknown sources. I use <a href="https://mdbootstrap.com/" target="_blank">MDB5</a> cdn links in my
        designs, so you already on your way to relief and a chance to complete your design on schedule.
        <br><br>
        My templates us regular html and css layouts, so the classes are compatible for all frameworks. Built with
        plain JavaScript, my layouts are flexible, responsive, and remain in-tact. They will never break the web and
        also friendly for all backend uses. If you need a code tutor for Node.js, React, Html5, Css3, Scss, MongoDB
        or using the MDB4 or 5 layouts then <a href="mailto:stephenbrooks714@gmail.com">contact</a> me for additional
        information. I have been developing since April 2020, started learning with Bottega University in 2019.
    </p>

</div>

<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
